<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/Admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Tài khoản
                </a>
                <a class="nav-link" href="/AdminHangHoa">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Sản phẩm
                </a>
                <a class="nav-link" href="/AdminHoaDon">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                   Hóa đơn
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as: MyAccount</div>
        </div>
    </nav>
</div>
