@model duanwebsite.Data.HoaDon

@{
    ViewData["Title"] = "Thêm mới hóa đơn";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<h1 class="mb-4">Thêm mới hóa đơn</h1>

<div class="">
    <div class="row justify-content-center">
        <div class="col-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row gy-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaKh" class="control-label mb-1" asp-items="ViewBag.HoTen"></label>
                            <select asp-for="MaKh" class="form-control" asp-items="ViewBag.MaKh"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HoTen" class="control-label mb-1"></label>
                            <input asp-for="HoTen" class="form-control" />
                            <span asp-validation-for="HoTen" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DiaChi" class="control-label mb-1"></label>
                            <input asp-for="DiaChi" class="form-control" />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DienThoai" class="control-label mb-1"></label>
                            <input asp-for="DienThoai" class="form-control" />
                            <span asp-validation-for="DienThoai" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhiVanChuyen" class="control-label mb-1"></label>
                            <input asp-for="PhiVanChuyen" class="form-control" />
                            <span asp-validation-for="PhiVanChuyen" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaTrangThai" class="control-label mb-1" asp-items="ViewBag.TenTrangThai"></label>
                            <select asp-for="MaTrangThai" class="form-control" asp-items="ViewBag.MaTrangThai"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MaNv" class="control-label mb-1" asp-items="ViewBag.HoTen"></label>
                            <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="GhiChu" class="control-label mb-1"></label>
                            <input asp-for="GhiChu" class="form-control" />
                            <span asp-validation-for="GhiChu" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-4">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Quay lại danh sách</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
